@tailwind base;
@tailwind components;
@tailwind utilities;

/* ==============Header============ */
@media screen and (min-width: 640px) {
  #logo > a > div > img {
    visibility: hidden !important;
  }
}

/*============= Hero slider=========== */
.hero-image-wrapper {
  height: 50vh;
  @apply relative;
}

#hero-slider {
  width: 97vw;
  max-width: 1280px;
  position: relative;
  @apply mt-24;
}
.slick-list {
  overflow: visible !important;
}
.slick-dots {
  bottom: 20px !important;
  text-align: right !important;
  padding-right: 3rem !important;
  visibility: hidden;
}
.hero-description {
  @apply top-40  -bottom-40 w-80  sm:inline-block absolute z-40 sm:w-80  sm:top-0 sm:bottom-0;
}
.slick-dots li button:before {
  color: white !important;
  font-size: 8px !important;
  opacity: 0.9 !important;
}
.slick-dots li.slick-active button:before {
  color: rgb(250, 56, 176) !important;
}
@media screen and (min-width: 640px) {
  .hero-image-wrapper {
    height: 65vh;
  }
  .slick-dots {
    visibility: visible;
  }
}
/* ==========Mission========== */
.mission {
  background-color: #091321;
}
/* ==========cafe-bar============== */
.cafe h1 {
  color: #00244c;
  font-weight: bolder;
}
